swiper-container {
  display: block;
  overflow: hidden;
  width: 100%;
}

swiper-slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
}
