<div class="swiper-container" #container *ngIf="!DISABLED">
  <swiper-container
    #swiperEl
    [init]="false"
    [loop]="loop"
    slides-per-view="1"
    [space-between]="spacing_m != undefined ? spacing_m : 0"
    [width]="width != undefined ? width : null"
    [speed]="speed != undefined ? speed : 250"
    [autoplay]="autoplay ? { delay: delay != undefined ? delay : 2000, pauseOnMouseEnter: false, disableOnInteraction: false, reverseDirection: false } : false"
    navigation-next-el=".next"
    navigation-prev-el=".prev"
    [breakpoints]='{
      "630": {
        "slidesPerView": perPage != undefined && perPage < 3 ? perPage : 2,
        "spaceBetween": spacing != undefined ? spacing : 25
      },
      "1200": {
        "slidesPerView": perPage != undefined ? perPage : 4,
        "spaceBetween": spacing != undefined ? spacing : 25
      }
    }'
  >
    <swiper-slide *ngFor="let work of worksList">
      <a class="showcase--slide" [routerLink]="['/works', 'project']" [queryParams]="{ id: work.id }">
        <picture>
          <img
            class="thumbnail"
            title="{{ work.title }}"
            src="{{ work.thumbnail_src.url }}"
            alt="{{ work.thumbnail_src.alt ? work.thumbnail_src.alt : work.title + ' thumbnail image' }}"
          />
        </picture>

        <h3 class="works-name" *ngIf="!this.hideTitle">{{ work.title }}</h3>
      </a>
    </swiper-slide>
  </swiper-container>

  <div class="navigation">
    <button class="prev" #prev>
      <svg width="1200pt" height="1200pt" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
        <path d="m900 600-600-292.8 145.2 292.8-145.2 292.8zm-547.2-240 492 240-492 240 118.8-240z"/>
      </svg>
    </button>

    <button class="next" #next>
      <svg width="1200pt" height="1200pt" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
        <path d="m900 600-600-292.8 145.2 292.8-145.2 292.8zm-547.2-240 492 240-492 240 118.8-240z"/>
      </svg>
    </button>
  </div>
</div>
