<div class="swiper-container" #container>
  <swiper [config]="config" (swiper)="onSwiper($event)">
    <ng-template swiperSlide *ngFor="let work of _worksList | async; index as i">
      <a [routerLink]="['/works', 'project']" [queryParams]="{ id: work.id }">
        <picture>
          <source srcset="{{ resolve(work.thumbnail, 'webp') }}" type="image/webp" />
          <source srcset="{{ resolve(work.thumbnail, 'jpeg') }}" type="image/jpeg" />

          <img class="thumbnail" title="{{ work.name }}" src="{{ resolve(work.thumbnail, 'jpeg') }}" alt="{{ work.name }} thumbnail image" />
        </picture>

        <h3 class="works-name" *ngIf="!this.hideTitle">{{ work.name }}</h3>
      </a>
    </ng-template>
  </swiper>

  <div class="navigation">
    <button class="prev" #prev (click)="prevSlide()">
      <svg width="1200pt" height="1200pt" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
        <path d="m900 600-600-292.8 145.2 292.8-145.2 292.8zm-547.2-240 492 240-492 240 118.8-240z"/>
      </svg>
    </button>

    <button class="next" #next (click)="nextSlide()">
      <svg width="1200pt" height="1200pt" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
        <path d="m900 600-600-292.8 145.2 292.8-145.2 292.8zm-547.2-240 492 240-492 240 118.8-240z"/>
      </svg>
    </button>
  </div>
</div>

