<div class="container">
  <div class="text-container">
    <img src="/assets/headshot.jpg" alt="headshot" class="headshot">

    <h2>About Us</h2>

    <p>We are a group of full-stack developers, graphic designers, and technical experts based in the NYC area. We strive to craft meaningful digital experiences and enable life-changing creative concepts through the mediums of Web, Mobile, and Photo. We have proficiency in a plethora of programming languages, frameworks, and design software, but our best trait as professionals is our ability to adapt to any problem and rise to the occasion. Our ability to apply core technical and design methodologies to a range of conditions, allow us to effectively craft memorable digital experience for our clients.</p>

    <h2>My Toolbox</h2>

    <app-toolbox></app-toolbox>

    <div class="toolbox-container" *ngIf="false">
      <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
        <img src="assets/tag-icons/angular.png" alt="Angular Icon">
      </a>

      <a href="https://reactjs.org/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/react.png" alt="React Icon">
      </a>

      <a href="https://www.shopify.com/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/shopify-logo.png" alt="Shopify Icon">
      </a>

      <a href="https://www.python.org/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/python.png" alt="Python Icon">
      </a>

      <a href="https://developer.mozilla.org/en-US/docs/Web/javascript" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/javascript.png" alt="Javascript Icon">
      </a>

      <a href="https://sass-lang.com/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/scss.png" alt="SCSS Icon">
      </a>

      <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/typescript.png" alt="TypeScript Icon">
      </a>

      <a href="https://docs.oracle.com/javase/7/docs/api/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/java.png" alt="Java Icon">
      </a>

      <a href="https://docs.microsoft.com/en-us/cpp/?view=vs-2019" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/c++.png" alt="C++ Icon">
      </a>

      <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/csharp.png" alt="C# Icon">
      </a>

      <a href="https://nodejs.org/en/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/node.png" alt="Node JS Icon">
      </a>

      <a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/postgre.png" alt="Postgre SQL Icon">
      </a>

      <a href="https://www.mysql.com/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/mysql.png" alt="MySQL Icon">
      </a>

      <a href="https://www.adobe.com/products/photoshop.html" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/photoshop.png" alt="Photoshop Icon">
      </a>

      <a href="https://www.adobe.com/products/aftereffects.html" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/ae.png" alt="After Effects Icon">
      </a>

      <a href="https://www.adobe.com/products/premiere.html" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/premiere.png" alt="Premiere Pro Icon">
      </a>

      <a href="https://www.maxon.net/en-us/products/cinema-4d/overview/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/cinema.png" alt="Cinema 4d Icon">
      </a>

      <a href="https://docs.unity3d.com/Manual/index.html" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/unity.png" alt="Unity Icon">
      </a>

      <a href="https://reactnative.dev/" target="_blank" rel="noopener noreferrer" >
        <img src="assets/tag-icons/react-native.png" alt="React Native Icon">
      </a>
    </div>

    <contact-info></contact-info>

    <a class="project-link small" routerLink="/works">
      <svg viewBox="0 0 1151.2498 959.99999">
        <g transform="translate(10150.158,-772.95808)">
          <path d="m -10150.158,1349.2081 0,-383.75006 128.125,0 128.1247,0 0,-96.25001 0,-96.25001 320.0001,0 320,0 0,96.25001 0,96.25001 127.5,0 127.5,0 0,383.75006 0,383.75 -575.6251,0 -575.6247,0 0,-383.75 z m 1058.7498,0 0,-293.75 -484.3751,0 -484.3747,0 0,293.75 0,293.75 484.3747,0 484.3751,0 0,-293.75 z m -252.5,-435.00006 0,-51.25001 -230,0 -230.0001,0 0,51.25001 0,51.25 230.0001,0 230,0 0,-51.25 z"></path>
        </g>
      </svg>
      <h2>View more projects</h2>
    </a>
  </div>
</div>

