.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 125px;
  margin-bottom: 50px;
  padding: 0 25px;

  width: 100%;

  color: white;

  h2, h1 {
    //display: none;
    color: white;
    font-family: Josefin Sans, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 750px;
    font-size: 24px;
    margin: 20px 0;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;

    svg {
      fill: white;
      width: 16px;
      margin-right: 10px;
    }

    a {
      color: white;
      font-family: Lato Light, sans-serif;
      font-size: 16px;
      text-decoration: none;
    }
  }

  contact-form {
    --primary-color: #cfcfcf;

    padding: 35px;

    max-width: 750px;

    background-color: var(--tertiary-color);
    border-radius: 15px;

    width: 100%;

    margin-bottom: 50px;

    @media screen and (max-width: 630px) {
      padding: 25px;
    }
  }

  contact-info {
    width: 100%;
  }

  swiper-toolbox {
    //max-width: 100%;
    //margin-top: 25px;

    max-width: var(--max-width);
    width: 100%;
    margin: 50px auto auto;
  }

  swiper-showcase {
    //max-width: 100%;

    max-width: var(--max-width);
    width: 100%;
    margin: 50px auto auto;
  }

  .project-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
    text-decoration: none;
    max-height: 25px;

    &.small {
      h2 {
        font-size: 16px;
      }
    }

    h2 {
      padding: 0;
      margin: 0;
      color: white;

      font-size: 25px;
      font-family: josefin Sans light, sans-serif;

      position: relative;

      &::before {
        content: "";

        position: absolute;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -3px;
        background: transparent;
        border-bottom: 2px solid #ffffff;
        border-radius: var(--border-radius);
        display: block;

        transition: width 500ms ease;
      }
    }

    svg {
      width: 25px;
      fill: white;
      margin-right: 10px;
    }

    &:hover {
      h2 {
        &::before {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .container {
    margin: 75px auto;

    .toolbox-container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      max-width: unset;
      padding-bottom: 75px;
    }
  }
}
