.container {
  //width: 100px;
  //height: 77px;
  width: 100%;
  height: calc(100vh - 100px);

  overflow: hidden;

  canvas {
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
  }

  &.hover {
    cursor: pointer;
  }

  // Add gradient fade to bottom of container
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgba(12, 12, 12, 0), rgba(12, 12, 12, 1));
    pointer-events: none;
  }

  @media (max-width: 630px) {
    height: calc(100vh - 85px);
  }
}
