<div class="toolbox-container">
  <section #toolbox class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <a href="https://www.shopify.com/" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/shopify-logo.png" alt="Shopify Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://developer.mozilla.org/en-US/docs/Web/javascript" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/javascript.png" alt="Javascript Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://nodejs.org/en/" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/node.png" alt="Node JS Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://reactjs.org/" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/react.png" alt="React Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://sass-lang.com/" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/scss.png" alt="SCSS Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://www.python.org/" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/python.png" alt="Python Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/csharp.png" alt="C# Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://docs.microsoft.com/en-us/cpp/?view=vs-2019" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/c++.png" alt="C++ Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://docs.oracle.com/javase/7/docs/api/" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/java.png" alt="Java Icon">
          </a>
        </li>

        <li class="splide__slide">
          <a href="https://www.adobe.com/products/catalog.html#category=creativity-design&types=desktop" target="_blank" rel="noopener noreferrer" >
            <img src="assets/tag-icons/adobe.png" alt="Adobe CC Icon">
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>


