.toolbox-container {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100vw;
  width: 100%;

  section {
    position: relative;
    max-width: 100%;
    width: 2000px;

    .splide__arrows {
      z-index: 10;
    }

    .splide__list {
      display: flex;

      .splide__slide {
        position: relative;
        max-width: 100px;
        width: 100%;

        background-color: #ffffff;
        border: 3px solid #767676;

        padding: 15px;
        //border-radius: 1000px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          width: 100%;
          height: 100%;

          img {
            max-width:100%;
            width: 100%;
          }
        }
      }
    }

    &::before,
    &::after {
      pointer-events: none;

      content: "";

      background: rgb(0,0,0);
      background: linear-gradient(90deg, #0c0c0c 0%, rgba(12, 12, 12, 0) 100%);

      height: 100%;
      width: 150px;

      position: absolute;
      bottom: 0;
      top: 0;
    }

    &::before {
      right: 0;
      background: linear-gradient(90deg, rgba(12, 12, 12, 0) 0%, #0c0c0c 100%);

      z-index: 10;
    }
  }

  @media (max-width: 630px) {
    section {
      .splide__list {
        .splide__slide {
          max-width: 75px;
          padding: 10px;
        }
      }

      &::before,
      &::after {
        width: 100px;
      }
    }
  }
}
