/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body, p {
  margin: 0;
  padding: 0 !important;
}

body {
  background-color: #0c0c0c;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1 {
  margin: 0;
}

@font-face {
  font-family: Lato;
  src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Lato Black;
  src: url(assets/fonts/Lato-Black.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Lato Bold;
  src: url(assets/fonts/Lato-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Lato Light;
  src: url(assets/fonts/Lato-Light.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Lato Thin;
  src: url(assets/fonts/Lato-Thin.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Josefin Sans Light;
  src: url(assets/fonts/JosefinSans-Thin.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Josefin Sans Bold;
  src: url(assets/fonts/JosefinSans-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Josefin Sans Thin;
  src: url(assets/fonts/JosefinSans-Thin.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Erica One;
  src: url(assets/fonts/EricaOne-Regular.ttf) format("truetype");
  font-display: swap;
}

.swiper-container {
  .swiper-wrapper {
    position: relative;

    font-family: Lato Light, sans-serif;

    .swiper-slide {
      border-radius: var(--border-radius);
      overflow: hidden;
    }

    a {
      display: block;
      text-decoration: none;

      picture {
        display: flex;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      h3.works-name {
        position: absolute;

        bottom: 0;
        margin: 0;
        padding: 10px 0;
        width: 100%;

        font-weight: 800;
        font-size: 14px;
        font-family: Lato Bold, sans-serif;

        //background-color: var(--primary-color);

        background-color: rgb(255 255 255 / 37%);
        //background-color: rgba(0, 0, 0, .2);
        backdrop-filter: blur(3px);
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);

        text-align: center;
        color: black;
      }
    }
  }
}

.toolbox-container {
  display: flex;
  justify-content: center;
  position: relative;

  max-width: 100%;
  width: 100%;

  swiper {
    position: relative;
    max-width: 100%;

    .swiper-wrapper {
      -webkit-transition-timing-function:linear!important;
      transition-timing-function:linear!important;
    }

    .swiper-slide {
      position: relative;
      max-width: 100px;
      width: 100%;
      //border: 3px solid #767676;
      top: 0px;
      transition: top 250ms ease;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        background-color: var(--primary-color);

        width: 100%;
        height: 100%;

        padding: 15px;

        border-radius: var(--border-radius);

        &.Node--JS, &.Java, &.Adobe--CC, &.Shopify, &.Javascript {
          background-color: var(--primary-color);
        }

        img {
          max-width:100%;
          width: 100%;
        }
      }

      &:hover {
        //top: -5px;
        a {

        }
      }
    }

    &::before,
    &::after {
      pointer-events: none;

      content: "";

      background: rgb(0,0,0);
      background: linear-gradient(90deg, #0c0c0c 0%, rgba(12, 12, 12, 0) 100%);

      height: 100%;
      width: 150px;

      position: absolute;
      bottom: 0;
      top: 0;

      z-index: 1;
    }

    &::before {
      right: 0;
      background: linear-gradient(90deg, rgba(12, 12, 12, 0) 0%, #0c0c0c 100%);

      z-index: 10;
    }
  }

  @media (max-width: 630px) {
    swiper {
      .swiper-slide {
        max-width: 75px;

        a {
          padding: 10px;
        }
      }

      &::before,
      &::after {
        width: 80px;
      }
    }
  }
}

.right-panel {
  swiper-showcase {
    .swiper-container {
      border-radius: 15px;
      overflow: hidden;

      .swiper-wrapper .swiper-slide {
        border-radius: 0;
      }
    }
  }
}

home {
  display: block;

  .swiper-container .navigation button {
    height: unset !important;
    bottom: -75px;
    top: unset !important;

    &.prev {
      right: 65px;

      svg {
        transform: translateY(0px) scale(-1) !important;

        &:hover {
          transform: translateY(-2px) scale(-1) !important;
        }
      }
    }

    svg {
      //box-shadow: 0px 0px 20px 5px rgba(250, 237, 205, 0.30);
      border-radius: var(--border-radius);
      transform: translateY(0px);

      transition: transform 250ms ease, box-shadow 500ms ease;

      &:hover {
        transform: translateY(-2px);
        //box-shadow:  0px 0px 20px 5px rgb(250 237 205 / 20%);
      }
    }
  }
}

about contact-info, contact contact-info {
  .container,
  .info_container,
  .link_container {
    flex-direction: row !important;
    flex-wrap: wrap;

    .item {
      margin: 0 !important;

      a {
        background: white;
        padding: 10px 20px;
        border-radius: 25px;
      }

      span, svg {
        color: black;
        fill: black !important;
      }
    }

    @media screen and (max-width: 475px) {
      flex-direction: column !important;
      width: 100%;

      .item {
        width: 100%;

        a {
          width: 100%;
        }
      }
    }
  }
}

.excerpt {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.tags {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;

  flex-wrap: wrap;

  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;

  li, div, a {
    background-color: #393939;
    padding: 7px 15px;
    color: var(--secondary-color);
  }
}

.role {
  font-family: "Josefin Sans Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #f8edcd;
}

:root {
  --primary-color: rgb(235 235 235);
  --secondary-color: rgb(250 237 205);
  --tertiary-color: rgb(250 237 205 / 20%);
  --max-width: 1750px;
  --border-radius: 25px;
}
