<div class="case-studies-container container">
  <h1 class="title">Case Studies</h1>

  <p class="description">
    High-impact engineering solutions,
    demonstrating technical leadership
    in modular&nbsp;architecture.
  </p>

  <div *ngIf="emptyCaseStudies">
    <p>No case studies found.</p>
  </div>

  <div class="grid">
    <div class="case-study-card" *ngFor="let study of caseStudiesList">
      <a [routerLink]="['/case-studies', study.slug.current]">
        <div class="thumbnail-container aspect-ratio-{{study.aspectRatio}}">
          <img
            *ngIf="study.heroImage"
            [src]="study.heroImage"
            [alt]="study.title"
            class="thumbnail "
          />
        </div>

        <div class="copy-container">
          <p *ngIf="study?.role" class="role">
            {{study.role}}
          </p>

          <h2 class="study-title">
            {{study.title}}
          </h2>

          <p *ngIf="study?.excerpt" class="excerpt">
            {{study.excerpt}}
          </p>

          <ul class="tags">
            <li *ngFor="let tag of study.tags">
              {{tag}}
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>

  <div class="cta" *ngIf="condensed && caseStudiesCount > 3">
    <a routerLink="/case-studies"><span>View All Case Studies</span></a>
  </div>

  <links
    *ngIf="!condensed"
    [contact]="true"
    [projects]="false"
    [about]="true"
  ></links>
</div>
