.case-studies-container {
  margin: 50px 0 50px;
  padding: 50px 25px 0;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  position: relative;
  margin: 25px 0;
  color: white;
  text-align: center;
}

.grid {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(calc(50% - 50px), 1fr));
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  grid-gap: 50px;

  max-width: var(--max-width);
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.case-study-card {
  color: white;

  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
  }

  .thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;

    border-radius: var(--border-radius);

    &.aspect-ratio7\/8 {
      aspect-ratio: 7/8;
    }

    &.aspect-ratio1\/1 {
      aspect-ratio: 1/1;
    }

    &.aspect-ratio4\/3 {
      aspect-ratio: 4/3;
    }

    &.aspect-ratio16\/9 {
      aspect-ratio: 16/9;
    }
  }

  .copy-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    color: white;

    padding: 15px 30% 15px 0;

    * {
      margin: 0;
    }

    .study-title {
      font-size: 24px;
      font-family: Lato, sans-serif;
      line-height: 1.2;
      font-weight: 400;
    }

    .role {
      font-family: "Josefin Sans Bold", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: #f8edcd;
    }

    .excerpt {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }

    .tags {
      list-style: none;
      display: flex;
      gap: 10px;
      padding: 0;

      flex-wrap: wrap;

      font-family: "Lato", sans-serif;
      font-size: 12px;
      text-transform: uppercase;

      li {
        background-color: #393939;
        padding: 7px 15px;
        color: var(--secondary-color);
      }
    }

    h2, p {

    }
  }
}
