.case-studies-container {
  margin: 100px 0 50px;
  padding: 50px 25px 0;

  @media screen and (max-width: 768px) {
    &.condensed {
      margin: 50px 0 50px;
      padding: 25px 25px 0;
    }
  }
}

.title {
  font-family: 'Josefin Sans Thin', sans-serif;
  font-size: 75px;
  position: relative;
  color: white;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 52px;
  }
}

.description {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #9D9F9EFF;
  line-height: 1.5;

  max-width: 600px;
  margin: 15px auto 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  grid-gap: 50px;

  max-width: var(--max-width);
  margin: 50px auto 0;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.case-study-card {
  color: white;

  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
  }

  .thumbnail-container {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);

    overflow: hidden;

    .thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 500ms ease;
    }

    &.aspect-ratio-7\/8, &.aspect-ratio-tall {
      aspect-ratio: 7/8;

      @media screen and (max-width: 768px) {
        aspect-ratio: 4/3;
      }
    }

    &.aspect-ratio-1\/1 {
      aspect-ratio: 1/1;
    }

    &.aspect-ratio-4\/3 {
      aspect-ratio: 4/3;
    }

    &.aspect-ratio-16\/9, &.aspect-ratio-wide {
      aspect-ratio: 16/9;
    }
  }

  .copy-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    color: white;

    padding: 0 30% 0 0;

    @media screen and (max-width: 768px) {
      padding: 0;
    }

    * {
      margin: 0;
    }

    .study-title {
      font-size: 24px;
      font-family: Lato, sans-serif;
      line-height: 1.2;
      font-weight: 400;
    }

    .tags {
      overflow: hidden;
      max-height: 34px;

      &.expanded {
        max-height: none;
      }
    }

    .tags-toggle {
      display: inline-block;
      background: var(--tertiary-color);
      color: var(--secondary-color);
      border: none;
      padding: 7px 15px;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      align-self: flex-start;
    }
  }

  &:hover {
    .thumbnail {
      transform: scale(1.1);
    }
  }
}

.cta {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  a {
    padding: 15px 25px;
    font-family: Lato bold, sans-serif;
    text-decoration: none;

    min-width: 115px;
    text-align: center;

    transition: background-color 500ms ease,
    border-color 500ms ease,
    color 500ms ease,
    transform 250ms ease;

    color: #faedcd;
    background-color: transparent;
    border: 1px solid #faedcd;

    border-radius: var(--border-radius);

    &:hover {
      background-color: #faedcd;
      color: black;
      border-color: transparent;
      transform: translateY(-5px);
    }
  }
}
