<div class="hero">
  <three></three>

  <div class="right-panel">
    <swiper-showcase
      [loop]="true"
      [perPage]="1"
      [spacing]="0"
      [autoplay]="false"
      [delay]="5000"
      [hideTitle]="true"
      [arrows]="false"
      [width]="250"
    ></swiper-showcase>

    <contact-info alignment="end"></contact-info>
  </div>

  <div class="hero-copy">
    <h1 class="welcome-text">
      Senior Full-Stack Engineer<br>
      Crafting Digital Experiences with <span id="typed"></span><br>

      <span id="location">Based in NJ & NYC</span>
    </h1>

    <div class="ctas">
      <a routerLink="/contact" class="outline">
        <span>Contact Me</span>
      </a>

      <a routerLink="/works">
        <span>View Works</span>
      </a>
    </div>
  </div>
</div>

<app-case-studies [condensed]="true"></app-case-studies>

<app-works [condensed]="true"></app-works>

<div class="toolbox">
  <div class="toolbox-copy">
    <h2>My Toolbox</h2>

    <p>
      I’m well-versed in a multitude of programming languages, frameworks, and design software used to develop web
      applications. This includes web frameworks like React and Angular for custom web build-outs, or Shopify Liquid for
      ecommerce applications.
    </p>
  </div>

  <swiper-toolbox></swiper-toolbox>
</div>

<div class="contact-form">
  <h2>Contact</h2>

  <contact-form ngSkipHydration></contact-form>
</div>





