<div class="hero">
  <three></three>

  <div class="right-panel">
    <div class="case-study-slider" *ngIf="caseStudiesList.length">
      <swiper [config]="caseStudySliderConfig">
        <ng-template swiperSlide *ngFor="let study of caseStudiesList">
          <a class="case-study-slide" [routerLink]="['/case-studies', study.slug.current]">
            <picture *ngIf="study.heroImage" class="slide-image">
              <img
                class="slide-thumbnail"
                [src]="study.heroImage"
                [alt]="study.title"
              />
            </picture>
            <h3 class="slide-title">{{ study.title }}</h3>
          </a>
        </ng-template>
      </swiper>
    </div>

    <contact-info [alignment]="'end'"></contact-info>
  </div>

  <div class="hero-copy">
    <h1 class="welcome-text">
      Senior Full-Stack Engineer<br>
      Crafting Digital Experiences with <span id="typed"></span><br>

      <span id="location">Based in NJ & NYC</span>
    </h1>

    <div class="ctas">
      <a routerLink="/works" class="outline">
        <span>Web Projects</span>
      </a>

      <a routerLink="/case-studies">
        <span>Case Studies</span>
      </a>
    </div>
  </div>
</div>

<app-case-studies [condensed]="true"></app-case-studies>

<app-works [condensed]="true"></app-works>

<div class="toolbox">
  <div class="toolbox-copy">
    <h2>Technical Stack & Capabilities <a routerLink="/about" class="title-link">Learn More</a></h2>

    <p>
      The languages, frameworks, and tools I leverage to build high-performance web applications from the ground up.
    </p>
  </div>

  <swiper-toolbox [centered]="true"></swiper-toolbox>

  <div class="ctas">
    <a routerLink="/about" class="outline"><span>Learn More</span></a>
  </div>
</div>


<div class="contact-form">
  <h2>Let’s Connect</h2>

  <contact-form ngSkipHydration></contact-form>
</div>





