.container {
  margin: 50px 0 50px;
  padding: 50px 25px 0;
}

.title-container {
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;

  h2, h1 {
    font-size: 24px;
    position: relative;
    text-align: center;
    margin: 25px 0;
  }
}

@mixin top-bottom($direction, $height) {
  position: absolute;

  will-change: #{$direction};
  #{$direction}: #{$height};
  transition: #{$direction} .5s cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin icons-fade {
  opacity: 0;

  will-change: opacity;
  transition: opacity 1.5s ease;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33% - 50px), 1fr));
  grid-gap: 25px;

  max-width: var(--max-width);
  margin: 0 auto;

  color: white;
}

.work-card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 20vw;

  overflow: hidden;

  border-radius: 15px;



  .works-info_container {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .2);
    will-change: background-color;
    transition: background-color 1s ease;

    z-index: 1;

    .works-info {
      display: grid;
      width: 100%;

      background-color: rgb(255 255 255 / 37%);
      //background-color: rgba(0, 0, 0, .2);
      backdrop-filter: blur(3px);
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);

      &.top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-radius: 15px;

        @include top-bottom(top, -59px);

        .catagory-container {
          padding-left: 15px;

          display: flex;
          align-items: center;

          h3 {
            color: black;
            font-family: Josefin Sans Thin, sans-serif;
            font-size: 14px;
          }
        }

        .external-link-container {
          display: flex;
          justify-content: flex-end;

          padding: 15px 15px;

          @include icons-fade;

          .logo {
            width: 25px;
            fill: white;
            z-index: 10;
            margin-left: 25px;

            transform: scale(1);
            will-change: transform;
            transition: transform .5s ease;

            &:hover {
              transform: scale(1.15);
            }
          }
        }
      }

      &.bottom {
        grid-template-rows: 1fr 2fr;
        align-items: center;
        position: absolute;
        height: 32%;
        padding: 0 15px;

        border-radius: 15px;

        @include top-bottom(bottom, -20%);

        .works-title {
          text-decoration: none;
          // font-family: Josefin Sans, sans-serif;
          color: black;
          margin: 0;
          // font-weight: bolder;

          white-space: nowrap;
          text-overflow: ellipsis;

          font-size: 14px;
          font-family: Lato Bold, sans-serif;
          text-align: center;

          @media (max-width: 630px) {

          }
        }

        .works-tags {
          display: flex;
          flex-direction: row;
          justify-content: center;

          @include icons-fade;

          img {
            height: 40px;
            padding-right: 10px;
          }
        }
      }
    }
  }

  .thumbnail {
    display: block;
    z-index: 0;
    max-width: 100%;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.5s ease;
  }
}

.work-card:hover {
  .works-info_container {
    background-color: rgba(0, 0, 0, 0);

    .top {
      top: 0;

      .external-link-container {
        opacity: 1;
      }
    }

    .bottom {
      bottom: 0;

      .works-tags {
        opacity: 1;
      }
    }
  }

  .thumbnail {
    transform: scale(1.05);
  }
}

.loading-logo_container {
  width: 100%;
  height: 100%;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-logo {
    max-width: 25%;
  }
}

.cta {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  a {
    padding: 15px 25px;
    font-family: Lato bold, sans-serif;
    text-decoration: none;

    min-width: 115px;
    text-align: center;

    transition: background-color 500ms ease,
    border-color 500ms ease,
    color 500ms ease,
    transform 250ms ease;

    color: #faedcd;
    background-color: transparent;
    border: 1px solid #faedcd;

    &:hover {
      background-color: #faedcd;
      color: black;
      border-color: transparent;
      transform: translateY(-5px);
    }
  }
}

swiper-toolbox {
  display: block;

  max-width: var(--max-width);
  margin: 25px auto 0;
}

@media (max-width: 630px) {
  .container {
    padding: 25px 25px 0;
  }

  .works-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 25px;
  }

  .work-card {
    //border-radius: 0;
    min-height: 50vw;

    .works-info_container {
      .works-info {
        &.bottom {
          height: 40%;
          bottom: -25%;
        }
      }
    }
  }

  .work-card:hover {
    .works-info_container {
      .bottom {
        bottom: 0;
      }
    }
  }
}

@media (min-width: 1920px) {
  .works-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(33% - 75px), 1fr));
  }

  .work-card {
    min-height: 15vw;
  }
}
